@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,900,900italic,700italic,400italic);

/* font choice: 
http://www.google.com/fonts/#ReviewPlace:refine/Collection:Exo|Alegreya+Sans|Raleway|Chivo|Titillium+Web*/


/* # General style */
body, body * {
  font-family: 'Alegreya Sans', sans-serif;
}
a:hover {
  text-decoration: none;
}
h2, h3, h4 {
 font-weight: 700;   
}

/* site header + menu */
.jumbotron {
  padding: 2.8em 0;
  color: #eee;
  text-shadow: 1px 1px 2px black;
  background-color: #444;
  background-image: url("http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52cf9489095e8_1.JPG");
  background-size: 100% auto;
  background-attachment: fixed;
}
/* if screen is to small, make background image bigger so it does not repeat*/
@media(max-width:768px){
  .jumbotron {
    background-size: 130% auto;
  }
}
.jumbotron h1 {
  font-style: italic;
  font-weight: 900;
}
.btn-group-sm>.btn>.badge {
  font-size: 0.8em;
}
h2 + .menu {
  margin-top: 20px;
}
.menu p {
  float: right;
}

/* # result listing */

/* if browser is too small, don't make small grid */
@media(max-width:320px){
  /* we use only the half-size */
  #results .col-xs-6 {
    width: auto;
  }
}
#results .link {
  font-size: 1.5em;
  color: hsl(210, 69%, 46%);
  white-space: nowrap;
  background-color: #fff;
  border-color: hsl(210, 69%, 46%);
  border-width: 0.125em;
  border-bottom-style: solid;
}
#results .link:hover {
  color: hsl(210, 69%, 36%);
  background-color: hsl(210, 37%, 96%);
  border-color: hsl(210, 69%, 36%);
}
#results .meta {
  float: right;
  opacity: 0.4;
  font-weight: 700;
}

/* # JS stuff */
/* hide javascript-only controls */
.js-only {
  display: none;
}
/* show them if js was detected */
html.js .js-only {
  display: inherit;
}
