@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,900,900italic,700italic,400italic);


/* font choice: 
http://www.google.com/fonts/#ReviewPlace:refine/Collection:Exo|Alegreya+Sans|Raleway|Chivo|Titillium+Web*/


/* # General style */
body, body * {
  font-family: 'Alegreya Sans', Baskerville, Georgia, serif;
}
body {
  background-color: hsla(57, 43%, 84%, 1);
}
a:hover {
  text-decoration: none;
}
h2, h3, h4 {
 font-weight: 700;   
}
.badge {
  color: hsla(57, 43%, 90%, 1);
  background-color: hsla(212, 29%, 50%, 1);
}

/* if screen is too small, don't make a grid 
 * (otherwise it would do 2 columns on smartphones
 *  because we use .col-xs-6)
*/
@media(max-width:475px){
  .container, 
  .row [class|="col-xs"] {
    width: auto;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

/* site header + menu */
.jumbotron {
  padding: 2.8em 0;
  color: hsla(57, 43%, 84%, 1);
  text-shadow: 1px 1px 2px hsla(212, 39%, 18%, 1);
  background-color: hsla(212, 39%, 23%, 1);
  background-image: url("header.png");
  background-size: 100% auto;
  background-attachment: fixed;
}
/* if screen is to small, make background image bigger so it does not repeat*/
@media(max-width:768px){
  .jumbotron {
    background-size: 130% auto;
  }
}
.jumbotron h1 {
  font-style: italic;
  font-weight: 900;
}
.btn-group-sm>.btn>.badge {
  font-size: 0.8em;
}
h2 + .menu {
  margin-top: 20px;
}
.menu p {
  float: right;
}

/* # menu */

/* copy over btn.active from bootstrap for .asc and .desc */
.menu [data-sort].btn.asc, 
.menu [data-sort].btn.desc {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

/* use .caret from bootstrap w/ custom sizes */
.menu [data-sort] .caret {
  vertical-align: baseline;
  border-top-width: 0.5em;
  border-right-width: 0.5em;
  border-bottom-width: 0;
  border-left-width: 0.5em;
  /* hide it by default */
  display: none;
}
/* un-hide the .caret if button is 'active' */
.menu [data-sort].asc .caret,
.menu [data-sort].desc .caret {
  display: inline-block;
}
/* is button is .desc, turn caret around */
.menu [data-sort].desc .caret {
  border-bottom-width: 0.5em;
  border-top-width: 0;
  content: "";
}

/* # result listing */

/* .col-x have more space below */
#results .row [class|="col-xs"] {
  padding: 0.5em;
}
#results .exhibit {
  padding: 1em;
  background-color: white;
  border: 1px solid hsla(212, 29%, 30%, 0.25);
  border-bottom-width: 2px;
}
#results .exhibit h3 {
  margin-top: 0;
}
/* if a p follows an img, give p some space */
#results img + p {
  margin-top:0.4em;;
}
/* typo: */
#results a {
  color: hsl(212, 69%, 40%);  
  border-color: hsl(212, 69%, 40%);
  border-width: 0.125em;
}
#results a:hover {
  color: hsl(212, 69%, 20%);
  border-color: hsl(212, 69%, 20%);
}
#results .link {
  font-size: 1.5em;
  border-bottom-style: solid;
/*  background-color: #fff;*/
}
#results .link:hover {
  background-color: hsl(212, 37%, 96%);
}
#results .meta {
  float: right;
  opacity: 0.4;
  font-weight: 700;
}

/* # JS stuff */
/* hide javascript-only controls */
.js-only {
  display: none;
}
/* show them if js was detected */
html.js .js-only {
  display: inherit;
}
